<%- include('partials/header') %>

<div class="welcome">
  <div class="h1-wrap">
    <h1 class="text-center"><i class="fas fa-leaf"></i> Veggie Meal Inspiration!</h1>
  </div>
  <h2 class="text-center">Click on <u>any image</u> for recipe details</h2>

  <div class="text-center">
    <!-- <a href="/recipe"><button class="button">Get a random recipe!</button></a></div> -->
    <a href="#"><button class="button"><i class="fas fa-arrow-circle-right"></i> Generate random recipes!</button></a>
  </div>
</div>

<div class="container">
  <div class="dish-pic-container">

    <div class="dish-pic" id="image0">
      <div class="dish-pic-item top-item">
        <h5>Title of our food item.</h5>
      </div>

      <div class="dish-pic-item bottom-item">
        <p class="dish-pic-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, ipsa nihil quae,
          accusantium pariatur deserunt...</p>
      </div>
    </div>
    <div class="dish-pic" id="image1">
      <div class="dish-pic-item top-item">
        <h5></h5>
      </div>
      <div class="dish-pic-item bottom-item">
        <p class="dish-pic-p">
        </p>
      </div>
    </div>
    <div class="dish-pic" id="image2">
      <div class="dish-pic-item top-item">
        <h5></h5>
      </div>
      <div class="dish-pic-item bottom-item">
        <p class="dish-pic-p">
        </p>
      </div>
    </div>
    <div class="dish-pic" id="image3">
      <div class="dish-pic-item top-item">
        <h5></h5>
      </div>
      <div class="dish-pic-item bottom-item">
        <p class="dish-pic-p">
        </p>
      </div>
    </div>
    <div class="dish-pic" id="image4">
      <div class="dish-pic-item top-item">
        <h5></h5>
      </div>
      <div class="dish-pic-item bottom-item">
        <p class="dish-pic-p">
        </p>
      </div>
    </div>
    <div class="dish-pic" id="image5">
      <div class="dish-pic-item top-item">
        <h5></h5>
      </div>
      <div class="dish-pic-item bottom-item">
        <p class="dish-pic-p">
        </p>
      </div>
    </div>
    <div class="dish-pic" id="image6">
      <div class="dish-pic-item top-item">
        <h5></h5>
      </div>
      <div class="dish-pic-item bottom-item">
        <p class="dish-pic-p">
        </p>
      </div>
    </div>
    <div class="dish-pic" id="image7">
      <div class="dish-pic-item top-item">
        <h5></h5>
      </div>
      <div class="dish-pic-item bottom-item">
        <p class="dish-pic-p">
        </p>
      </div>
    </div>
    <div class="dish-pic" id="image8">
      <div class="dish-pic-item top-item">
        <h5></h5>
      </div>
      <div class="dish-pic-item bottom-item">
        <p class="dish-pic-p">
        </p>
      </div>
    </div>
    <div class="dish-pic" id="image9">
      <div class="dish-pic-item top-item">
        <h5></h5>
      </div>
      <div class="dish-pic-item bottom-item">
        <p class="dish-pic-p">
        </p>
      </div>
    </div>
    <div class="dish-pic" id="image10">
      <div class="dish-pic-item top-item">
        <h5></h5>
      </div>
      <div class="dish-pic-item bottom-item">
        <p class="dish-pic-p">
        </p>
      </div>
    </div>
    <div class="dish-pic" id="image11">
      <div class="dish-pic-item top-item">
        <h5></h5>
      </div>
      <div class="dish-pic-item bottom-item">
        <p class="dish-pic-p">
        </p>
      </div>
    </div>
  </div>




  <script src="/js/home.js"></script>
  <%- include('partials/footer') %>