<%- include('partials/header') %>
<div class="welcome">
  <div class="h1-wrap">
    <h1 class="text-center"></h1>
  </div>
  <div class="image-container"><img src="" alt="food-image"></div>
  <div class="info-container">
    <h2 class="text-center">Description</h2>
    <p class="summary"></p>
    <p>Prep Time: <span class="readyInMinutes">??</span> minutes.</p>
    <p>Serves: <span class="servings">?</span> adults.</p>

    <h2 class="text-center">Ingredients</h2>

    <ul class=extendedIngredients></ul>

    <h2 class="text-center">Instructions</h2>

    <p class="instructions"></p>

    <div class="text-center">
      <a><button class="button" id="back-button"><i class="fas fa-arrow-circle-left"></i> Back</button></a>
    </div>
    <p class="text-center last-p">Visit <a href="#" class="sourceUrl" target="_blank">
        official recipe page</a> on Foodista for more information.</p>
  </div>
</div>

<script src="/js/show.js"></script>
<%- include('partials/footer') %>