<%- include('partials/header') %>
<div class="welcome">
  <div class="h1-wrap">
    <h1 class="text-center"></h1>
  </div>
  <div class="image-container"><img src="" alt="food-image"></div>
  <h2 class="text-center"></h2>

  <ul>
    <li></li>
  </ul>

  console.log(json.recipes[j].title);
  console.log(json.recipes[j].readyInMinutes);
  console.log(json.recipes[j].servings);
  console.log(json.recipes[j].sourceUrl);
  console.log(json.recipes[j].image);
  console.log(json.recipes[j].summary);
  console.log(json.recipes[j].instructions);
  console.log(json.recipes[j].extendedIngredients);

  <div class="text-center">
    <a><button class="button" id="back-button"><i class="fas fa-arrow-circle-right"></i> Back</button></a>
  </div>
</div>





<script src="/js/show.js"></script>
<%- include('partials/footer') %>